<a href="https://colab.research.google.com/github/Ipoops/again/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
student_name = 'Soyuj'
marks = {'James':90, 'Jules':55, 'Arthur':77, 'Soyuj':56}
for student in marks:
  if student == student_name:
    print(marks[student])
    break
else:
  print('No entry with that name found.')

56

In [3]:
website = 'Regenesys'
print(website)

Regenesys

In [6]:
a, b, c = 5, 3.2, "hello"
print(a)
print(b)
print(c)

5
3.2
hello

In [8]:
A_Name="Gazal"
A_Marks=50
A_Percentage=80.88
print(A_Percentage)
A_Percentage=60
print(A_Percentage)
type(A_Marks)
type(A_Name)

80.88
60

str

In [9]:
a = 5
print(a, "is of type", type(a))
a = 2.0
print(a, "is of type", type(a))
a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))
test_list = [1, 2, 3]
print ("Is test_list list? : " + str(isinstance(test_list, list)))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True
Is test_list list? : True

In [11]:
a = [5,10,15,20,25,30,35,40]
print(a[0])
print(a[1])
# a[2] = 15
print(a[-3])
#this is just comment
# a[0:3] = [5, 10, 15]
print("a[0:4] = ", a[0:4])
# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])
print(len(a))
print(max(a))
min(a)

5
10
30
a[0:4] =  [5, 10, 15, 20]
a[5:] =  [30, 35, 40]
8
40

5